
/***************Margin****************/

.marging-none{
    margin: 0 ;
}

.margin-center{
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 40px;
    margin-bottom: 40px;
}

/***************Padding******************/

.padding-header{
    padding: 15px 21px 15px 0px;
}

/***************Police*****************/

.font-size1{
    font-size: x-large;
}

.bold{
    font-weight: bold;
}

/***************Mobile*****************/

.arrow{
    margin-top: 18px;
    margin-left: 21px;
    color: #353535;
    font-size: large;
}

.background-photo{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.menu-restau{
    background-color: #f4f4f4;
    border-radius: 35px 35px 0px 0px;  
    padding: 15px 15px 15px 15px;
    margin-top: -40px;
    z-index: 1000;
    position:relative;
}

.titre-restau{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 45px 20px 10px;
}

.pull-left{
    float:left;
}

.titre-menu{
    font-weight: bold;
    border-bottom: 2px solid;
    border-color: #99e2d0;
    width: 40px;
}

.button-restau{
    border-radius: 10px;
    border: 1px;
    background-color: white;
    width: 100%;
    height: 60px;
    margin-bottom: 15px;
    box-shadow: 0px 3px 3px 0px #e2e2e2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    opacity:0;
}

.titre-button{
    margin: 0;
    display: flex;
    margin: 5px;
}
.footer-button{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

/***************Animation*****************/
/*checks*/
.button-restau > .content{
    width: 100%;
    font-size: 13px;      
    transition: all 1s ease; 
}

.button-restau:hover > .content{
    width: calc(100% - 60px);    
}

.text-overflow{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.anim2 {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    background: #99e2d0;
    border-radius: 0px;
    color: white;
    text-align: center;
    transition-duration: 5s;
    height: 60px;
    width: 0px;
    transition: all 1s ease;
}
  
.button-restau:hover > .anim-menu >.anim2 {
    visibility: visible;
    background-color: #99e2d0;
    width: 60px;
    height: 60px;
    border-radius: 0px 10px 10px 0px;
    transform: scaleX(1);
}

.anim3{
    visibility: hidden;
    background-color: transparent;
}

.button-restau:hover > .anim-menu >.anim2 >.anim3 {
    visibility: visible;
    background-color: transparent;
    transform: rotate(360deg);  
    transition: all 0.5s ease;
}

.anim-check{
    font-size: 20px;
    background-color: transparent;
}

/***************Animation*****************/
/*platcascades*/

.loading-container{
    position:fixed;
    background-color: #7777779a;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: 1s loading-animation 2s forwards;
}

.vignets1 {
    animation: 1s show-button 0s forwards;
}

.vignets2{
    animation: 1s show-button 0.5s forwards;
}

.vignets3 {
    animation: 1s show-button 1s forwards;
}

.vignets4 {
    animation: 1s show-button 1.5s forwards;
}

.vignets5 {
    animation: 1s show-button 2s forwards;
}
.vignets6 {
    animation: 1s show-button 2.5s forwards;
}
.vignets7 {
    animation: 1s show-button 3s forwards;
}
.vignets8 {
    animation: 1s show-button 3.5s forwards;
}
.vignets9 {
    animation: 1s show-button 4s forwards;
}

@keyframes show-button {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

/***************Animation*****************/
/*spinner*/

.loading-container > .spinner{
    animation: rotation 2s infinite linear;
    color:#99e2d0 ;
    font-size: 70px;
}

@keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}

@keyframes loading-animation {
    from {
        opacity:1;
        
    }
    to {
        opacity:0;
        position: relative;
        height: 0;
        width: 0;
    }
}






