.marging-none{
    margin: 0 ;
}
.margin-index{
    margin: 40px 0px 0px 10px;
}

.margin-footer{
    margin-right: 10px;
}
.border-none{
    border: none;
}

.padding-left1{
    padding-left: 25px;
}

.padding-left2{
    padding-left: 15px;
}

.padding-medium{
    padding: 15px 0px 15px 0px;
}

.background-color-gray{
    background-color: #eaeaea;
}


.flex-center{
    display: flex;
    justify-content: center
}

.flex-space-between{
    display: flex;
    justify-content: space-between;
}

.flex-justify-content{
    display: flex;
    justify-content: center;
}

.align-center{
    align-items: center;
}

.text-center{
    text-align: center;
}

.flex-wrap{
    flex-wrap:wrap ;
}

.logo{
    height: 25px;
    width: 170px;
}

.white{
    color: rgb(255, 255, 255);
}



.research{
    height: 40px;
}

.text-search1{
    text-align: center;
    font-size: x-large;
    margin: 0px 40px 15px 40px;
    padding: 0px 30px 0px 30px;
}

.text-search2{
    font-weight: normal;
    font-size: larger;
    margin: 0px 30px 30px 30px;
    color: #7d7d7d;
    text-align: center
}

.button-search{
    width: 50%;
    height: 50px;
    border-radius: 50px 50px 50px 50px;
    border: 1px;
    color: white;
    box-shadow: 0px 3px 3px 0px rgb(80 80 80);
    background: rgb(147,86,220);
    background: linear-gradient(0deg, rgba(147,86,220,1) 32%, rgba(255,121,218,1) 100%);
}
.button-search:hover{
    width: 50%;
    height: 50px;
    border-radius: 50px 50px 50px 50px;
    border: 1px;
    color: white;
    box-shadow: 0px 8px 8px 0px rgb(80 80 80);
    background: rgb(147,86,220);
    background: linear-gradient(0deg, rgba(147,86,220,1) 32%, rgba(236,129,206,0.5989445910290238) 100%);
}

.background-footer{
    background-color: #353535 ;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    
}

.text-footer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 25px;
}

.icones-footer{
    font-size: 15px;
}


.container-search{
    background-color: #f6f6f6;
    text-align: center;
    align-items: center;
    flex-wrap:wrap;
    display: flex;
    justify-content: center;
    padding: 30px 0px 50px 0px ;
}

.button-menu{
    border-radius: 25px 25px 25px 25px;
    border: 1px;
    background-color: #f6f6f6;
    width: 90%;
    height: 60px;
    text-align: center;
    margin-bottom: 15px;
    box-shadow: 0px 3px 3px 0px #e2e2e2;
    margin: 15px 0px 0px 10px;
    display: flex;
    align-items: center;
}

.number-menu{
        border-radius: 50px 50px 50px 50px;
        background-color: #9356dc;
        height: 20px;
        width: 20px;
        color: white;
        margin-left: -8px;
}

.icons-menu{
    padding: 0px 40px 0px 30px;
    color: #7d7d7d;
}

.button-color{
    background-color: #f5edff !important ;
}

.icone-color{
    color: #9356dc ;
}
.container-card{
    background-color: #f4f4f4;
    padding-top: 20px;
    margin-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 40px;
}

.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 25px 25px 25px 25px;
    border: 1px;
    background-color: white;
    margin-bottom: 25px;
}

.photo{
    object-fit: cover; 
    border-radius: 25px 25px 0px 0px ;
    width: 100%;
    height: 160px;
}

.footer-card{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.text-card{
    width: 70%;
}

.footer-text-card{
    font-weight: bold;
    font-size: 19px
}

.style-contact{
    font-style: normal;
    text-decoration: none;
    color: white !important;
}


.icons-card{
    font-size: x-large;
}

.roboto{
    font-family: 'Roboto', sans-serif;
}

.shrikhand{
    font-family: 'Shrikhand', cursive;
}

.police-color1{
    color: #353535;
}

.font-weight-bold{
    font-weight: bold;
}

.font-weight-100{
    font-weight: 100;
    font-size: small;
}


.lien{
    width: auto;
    height: auto;
}

.shadow1{
    box-shadow: 0px 0px 5px 0px rgb(80, 80, 80);
}




.link > .empty
{
    display: block!important;
}
.link > .no-empty
{
    display: none!important;
    color:rgb(147,86,220);
}


.link:hover > .empty
{
    display: none!important;
}
.link:hover > .no-empty
{
    display: block!important;
}



.banners-new{
    position: absolute;
    background-color: #99e2d0;
    color: #39a98e;
    margin-left: 70%;
    margin-top: 5%;
    height: 4%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}

/************Desktop*******************/

@media all and (min-width: 1024px){
    .container-search {
        background-color: #f6f6f6;
        text-align: center;
        align-items: center;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        padding: 30px 0px 50px 0px;
        flex-direction: column;
    }

    .step{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        
    }

    .margin-index{
        margin-left: 46%;
        margin-right: 50%;
    }
    
    .container-card{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        background-color: #f4f4f4;
        padding-top: 20px;
        margin-top: 40px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 40px;
    }
    
    .title-desktop{
        margin-right: 50%;
        margin-left: 50%;
        margin-bottom: 5%;
    }

    .banners-new {
        position: absolute;
        background-color: #99e2d0;
        color: #39a98e;
        margin-top: 1%;
        height: 4%;
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 18%;
    }

    .button-menu {
        border-radius: 25px 25px 25px 25px;
        border: 1px;
        background-color: #f6f6f6;
        width: 30%;
        height: 60px;
        text-align: center;
        margin-bottom: 15px;
        box-shadow: 0px 3px 3px 0px rgb(80 80 80);
        margin: 15px 0px 0px 10px;
        display: flex;
        align-items: center;
    }

    .card {
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 25px 25px 25px 25px;
        border: 1px;
        background-color: white;
        margin-bottom: 25px;
        width: 35%;
    }
}
