.marging-none{
    margin: 0 ;
}

.padding-header{
    padding: 15px;
}

.margin-center{
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 40px;
    margin-bottom: 40px;
}


.margin-footer-restau{
    margin-top: 1160px;
}



.background-photo{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.menu-restau{
    background-color: #f4f4f4;
    border-radius: 25px 25px 0px 0px;
    position: absolute;
    padding: 15px 15px 15px 15px;
    margin-top: -40px;
    width: 92.5%;
}

.titre-restau{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 45px 20px 10px;
}

.font-size1{
    font-size: x-large;
}

.titre-menu{
    font-weight: bold;
    border-bottom: 2px solid;
    border-color: #99e2d0;
    width: 40px;

}

.button-restau{
    border-radius: 10px;
    border: 1px;
    background-color: #f6f6f6;
    width: 90%;
    height: 60px;
    text-align: center;
    margin-bottom: 15px;
    box-shadow: 0px 3px 3px 0px #e2e2e2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.button-restau > .content
{
    width: 100%;
    padding: 10px;   
    
}

.titre-button{
    margin: 0;
    display: flex;
}

.footer-button{
    display: flex;
    justify-content: space-between;
}


.anim-check{
    color: #f6f6f6;
    display: flex;
    align-content: center;
    align-items: center;
    font-size: x-large;
    animation-name: animation-check;
    animation-duration: 2s;
}

@keyframes animation-check{
    from {width: 0px;
        visibility: visible;
    
    }
    to {transform: rotate(360deg);
        
        
    }
  }




.anim-menu:hover{
    visibility: hidden;
    background-color: #f6f6f6;
    height:100%;
    width: 0px;
    animation-name: animation-menu;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;


    
  }
  
  @keyframes animation-menu{
    from {background-color: #99e2d0;
        width: 0px;
        visibility: visible;
    
    }
    to {background-color: #99e2d0;
        width: 100px;
        height: 100%;
        border-radius: 0px 10px 10px 0px;
    }
  }
