.marging-none{
    margin: 0 ;
}

.border-none{
    border: none;
}

.padding-left1{
    padding-left: 25px;
}

.padding-left2{
    padding-left: 15px;
}

.padding-medium{
    padding: 15px 0px 15px 0px;
}

.background-color-gray{
    background-color: #eaeaea;
}


.flex-center{
    display: flex;
    justify-content: center;
}

.flex-space-between{
    display: flex;
    justify-content: space-between;
}

.flex-justify-content{
    display: flex;
    justify-content: center;
}

.align-center{
    align-items: center;
}

.text-center{
    text-align: center;
}

.flex-wrap{
    flex-wrap:wrap ;
}

.logo{
    height: 25px;
    width: 170px;
}

.white{
    color: rgb(255, 255, 255);
}

.grey-light{
    background-color: #f6f6f6;
}


.research{
    height: 40px;
}

.button-search{
    width: 185px;
    height: 50px;
    background-color: lightgreen;
    border-radius: 50px 50px 50px 50px;
    border: 1px;
}

.background-footer{
    background-color: grey;
}








.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    border-radius: 25px 25px 25px 25px;
    border: 1px;
    background-color: white;

}

.photo{
    object-fit: cover; 
    border-radius: 25px 25px 0px 0px ;
    width: 90%;
    height: 120px;
}


.roboto{
    font-family: 'Roboto', sans-serif;
}

.shrikhand{
    font-family: 'Shrikhand', cursive;
}

.police-color1{
    color: #353535;
}

.font-weight-bold{
    font-weight: bold;
}






.shadow1{
    box-shadow: 0px 0px 10px 0px rgb(80, 80, 80);
}