.marging-none{
    margin: 0 ;
}

.border-none{
    border: none;
}

.background-color-gray{
    background-color: rgb(163, 162, 162);
}


.flex-center{
    display: flex;
    justify-content: center;
}

.flex-space-between{
    display: flex;
    justify-content: space-between;
}

.flex-justify-content{
    display: flex;
    justify-content: center;
}

.align-center{
    align-items: center;
}

.flex-wrap{
    flex-wrap:wrap ;
}

.logo{
    height: 40px;
    width: 170px;
}

.white{
    color: rgb(255, 255, 255);
}

.grey-light{
    background-color: lightgray;
}


.research{
    height: 40px;
}

.button-search{
    width: 185px;
    height: 50px;
    background-color: lightgreen;
    border-radius: 50px 50px 50px 50px;
    border: 1px;
}

.background-footer{
    background-color: grey;
}

.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    border-radius: 25px 25px 25px 25px;
    border: 1px;
    background-color: white;

}

.photo{
    object-fit: cover; 
    border-radius: 25px 25px 0px 0px ;
    width: 90%;
    height: 120px;
}


.roboto{
    font-family: 'Roboto', sans-serif;
}

.shrikhand{
    font-family: 'Shrikhand', cursive;
}